@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #e4e2e2;
  }

  ::-webkit-scrollbar-thumb {
    background: #a9a7a7;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  }

  ::-webkit-scrollbar-corner {
    background: #000;
  }

  .scrollable {
    max-width: 200px;
    max-height: 100%;

    height: 450px;
    /* change ` overflow: scroll ` to ` overflow: auto ` if you only want vertical scroll */
    overflow: scroll;
  }
}
